# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Chroma Database
chroma_db/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Data files
profile.txt
Notes.md

# Old Code Version
source/